CSVToHive.xml
<?xml version="1.0" ?>
<template>
  <description></description>
  <groupId>084f14d1-0159-1000-b3eb-ed0f3107b70c</groupId>
  <name>CSVToHive</name>
  <snippet>
    <connections>
      <id>9093b15a-2de5-4d6a-98f1-6947619c748c</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>487000e2-f3fa-44f9-a30f-547b9a237e88</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>78008377-209d-4b18-863b-a1c22c355c50</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>9140d3d4-2eb3-45a0-a53a-a0adff8246bb</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>78008377-209d-4b18-863b-a1c22c355c50</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>f1514d76-a041-4afe-a66a-aeb5032cfac3</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c74e8eb7-7d78-457b-8133-89496cf87063</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>3709.9727448330987</x>
        <y>937.9761341843864</y>
      </bends>
      <bends>
        <x>3709.9727448330987</x>
        <y>987.9761341843864</y>
      </bends>
      <destination>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>487000e2-f3fa-44f9-a30f-547b9a237e88</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>487000e2-f3fa-44f9-a30f-547b9a237e88</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d01a540e-1b54-467c-b0a8-1cce2649d077</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>29475fe7-e967-472e-8e6a-1051be1ad708</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>a5ddcdab-9f0e-421a-8cf2-2332a9363fcf</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f2b6473b-380f-47e9-ba6e-725ac003bdd7</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>d73ca8dd-5158-455c-ae8a-237ddc59304b</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Response</selectedRelationships>
      <source>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>5b93140f-02a7-4c7c-b3c8-75546408f58a</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3f56ae99-d444-4b1c-91f8-9905293611e3</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>a5ddcdab-9f0e-421a-8cf2-2332a9363fcf</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>d73ca8dd-5158-455c-ae8a-237ddc59304b</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6b839d56-6647-422e-a633-506f85d832cd</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>f1514d76-a041-4afe-a66a-aeb5032cfac3</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>20971eba-bee8-483f-80fd-a02563288da2</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7ff89c12-03b6-4a72-a124-46740683ee4b</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>3708.230467407406</x>
        <y>527.7444835535356</y>
      </bends>
      <bends>
        <x>3708.230467407406</x>
        <y>577.7444835535356</y>
      </bends>
      <destination>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>f1514d76-a041-4afe-a66a-aeb5032cfac3</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>permission.denied</selectedRelationships>
      <source>
        <groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId>
        <id>f1514d76-a041-4afe-a66a-aeb5032cfac3</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>a5ddcdab-9f0e-421a-8cf2-2332a9363fcf</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <position>
        <x>3968.1101089452523</x>
        <y>674.2092553040851</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>filename</key>
            <value>
              <name>filename</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>filename</key>
            <value>${uuid}.csv</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Assign Unique Filename</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>d73ca8dd-5158-455c-ae8a-237ddc59304b</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <position>
        <x>3964.393466248249</x>
        <y>492.093792078379</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments>The CSV Data coming from randomuser.me contains a header line but does not have a # on the beginning. This Processor adds the # to the beginning of the first line.</comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>(?s:^.*$)</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>#</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Prepend</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Ensure Header Line</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>f1514d76-a041-4afe-a66a-aeb5032cfac3</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <position>
        <x>3299.230467407406</x>
        <y>502.7444835535356</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>
              <name>Move Conflict Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
            <value>
              <name>Move Destination Directory</name>
            </value>
          </entry>
          <entry>
            <key>File to Fetch</key>
            <value>
              <name>File to Fetch</name>
            </value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>
              <name>Completion Strategy</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>Rename</value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>ERROR</value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>ERROR</value>
          </entry>
          <entry>
            <key>File to Fetch</key>
            <value>${absolute.path}/${filename}</value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>Delete File</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>not.found</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>permission.denied</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.FetchFile</type>
    </processors>
    <processors>
      <id>20971eba-bee8-483f-80fd-a02563288da2</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <position>
        <x>3299.2305752987613</x>
        <y>287.47785049861795</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory Location</key>
            <value>Local</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Input Directory</key>
            <value>./data/in/csv</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListFile</type>
    </processors>
    <processors>
      <id>29475fe7-e967-472e-8e6a-1051be1ad708</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <position>
        <x>3966.376555818746</x>
        <y>847.4205216559942</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Group</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>./data/in/csv</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>487000e2-f3fa-44f9-a30f-547b9a237e88</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <position>
        <x>3300.9727448330987</x>
        <y>912.9761341843864</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Partition</key>
            <value>
              <name>Partition</name>
            </value>
          </entry>
          <entry>
            <key>Max Record Size</key>
            <value>
              <name>Max Record Size</name>
            </value>
          </entry>
          <entry>
            <key>Client Name</key>
            <value>
              <name>Client Name</name>
            </value>
          </entry>
          <entry>
            <key>Compression Codec</key>
            <value>
              <name>Compression Codec</name>
            </value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
            <value>
              <name>Message Delimiter</name>
            </value>
          </entry>
          <entry>
            <key>Partition Strategy</key>
            <value>
              <name>Partition Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Topic Name</key>
            <value>
              <name>Topic Name</name>
            </value>
          </entry>
          <entry>
            <key>Kafka Key</key>
            <value>
              <name>Kafka Key</name>
            </value>
          </entry>
          <entry>
            <key>Delivery Guarantee</key>
            <value>
              <name>Delivery Guarantee</name>
            </value>
          </entry>
          <entry>
            <key>Max Buffer Size</key>
            <value>
              <name>Max Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Queue Buffering Max Time</key>
            <value>
              <name>Queue Buffering Max Time</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Known Brokers</key>
            <value>
              <name>Known Brokers</name>
            </value>
          </entry>
          <entry>
            <key>Async Batch Size</key>
            <value>
              <name>Async Batch Size</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Partition</key>
          </entry>
          <entry>
            <key>Max Record Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Client Name</key>
            <value>NiFi-487000e2-f3fa-44f9-a30f-547b9a237e88</value>
          </entry>
          <entry>
            <key>Compression Codec</key>
            <value>none</value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
            <value>\n</value>
          </entry>
          <entry>
            <key>Partition Strategy</key>
            <value>Round Robin</value>
          </entry>
          <entry>
            <key>Topic Name</key>
            <value>customers.${RouteText.Group}</value>
          </entry>
          <entry>
            <key>Kafka Key</key>
          </entry>
          <entry>
            <key>Delivery Guarantee</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Max Buffer Size</key>
            <value>5 MB</value>
          </entry>
          <entry>
            <key>Queue Buffering Max Time</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>Known Brokers</key>
            <value>kafka:9092</value>
          </entry>
          <entry>
            <key>Async Batch Size</key>
            <value>200</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutKafka</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kafka.PutKafka</type>
    </processors>
    <processors>
      <id>5b93140f-02a7-4c7c-b3c8-75546408f58a</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <position>
        <x>3959.8763826549575</x>
        <y>302.32381263573905</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Send</key>
            <value>
              <name>Attributes to Send</name>
            </value>
          </entry>
          <entry>
            <key>Trusted Hostname</key>
            <value>
              <name>Trusted Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Read Timeout</key>
            <value>
              <name>Read Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>
              <name>Max Length To Put In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Basic Authentication Password</key>
            <value>
              <name>Basic Authentication Password</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Digest Authentication</key>
            <value>
              <name>Digest Authentication</name>
            </value>
          </entry>
          <entry>
            <key>Always Output Response</key>
            <value>
              <name>Always Output Response</name>
            </value>
          </entry>
          <entry>
            <key>HTTP Method</key>
            <value>
              <name>HTTP Method</name>
            </value>
          </entry>
          <entry>
            <key>Add Response Headers to Request</key>
            <value>
              <name>Add Response Headers to Request</name>
            </value>
          </entry>
          <entry>
            <key>Basic Authentication Username</key>
            <value>
              <name>Basic Authentication Username</name>
            </value>
          </entry>
          <entry>
            <key>Include Date Header</key>
            <value>
              <name>Include Date Header</name>
            </value>
          </entry>
          <entry>
            <key>Put Response Body In Attribute</key>
            <value>
              <name>Put Response Body In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>Remote URL</key>
            <value>
              <name>Remote URL</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Attributes to Send</key>
          </entry>
          <entry>
            <key>Trusted Hostname</key>
          </entry>
          <entry>
            <key>invokehttp-proxy-user</key>
          </entry>
          <entry>
            <key>Read Timeout</key>
            <value>15 secs</value>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>256</value>
          </entry>
          <entry>
            <key>invokehttp-proxy-password</key>
          </entry>
          <entry>
            <key>Basic Authentication Password</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>send-message-body</key>
            <value>true</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Digest Authentication</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Always Output Response</key>
            <value>false</value>
          </entry>
          <entry>
            <key>HTTP Method</key>
            <value>GET</value>
          </entry>
          <entry>
            <key>Add Response Headers to Request</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Basic Authentication Username</key>
          </entry>
          <entry>
            <key>Include Date Header</key>
            <value>True</value>
          </entry>
          <entry>
            <key>Put Response Body In Attribute</key>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Penalize on "No Retry"</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>True</value>
          </entry>
          <entry>
            <key>Remote URL</key>
            <value>http://api.randomuser.me/0.6/?format=csv&amp;nat=us&amp;results=100</value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>${mime.type}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Fetch CSV Data</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>No Retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Response</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Retry</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
    </processors>
    <processors>
      <id>78008377-209d-4b18-863b-a1c22c355c50</id>
      <parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId>
      <position>
        <x>3299.230467407406</x>
        <y>704.0930279478034</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Leading/Trailing Whitespace</key>
            <value>
              <name>Ignore Leading/Trailing Whitespace</name>
            </value>
          </entry>
          <entry>
            <key>Matching Strategy</key>
            <value>
              <name>Matching Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Case</key>
            <value>
              <name>Ignore Case</name>
            </value>
          </entry>
          <entry>
            <key>header line</key>
            <value>
              <name>header line</name>
            </value>
          </entry>
          <entry>
            <key>Grouping Regular Expression</key>
            <value>
              <name>Grouping Regular Expression</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to each matching Property Name</value>
          </entry>
          <entry>
            <key>Ignore Leading/Trailing Whitespace</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Matching Strategy</key>
            <value>Starts With</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Ignore Case</key>
            <value>false</value>
          </entry>
          <entry>
            <key>header line</key>
            <value>#</value>
          </entry>
          <entry>
            <key>Grouping Regular Expression</key>
            <value>(.*?),.*</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Strip Header, Group by Gender</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>header line</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteText</type>
    </processors>
  </snippet>
  <timestamp>03/03/2017 16:17:49 EST</timestamp>
</template>